section {padding: 50px 10px; height: 100vh;}

body {font-family: Arial, sans-serif; background-color: #aec7c8}

h1{background-color: #73a5a7; padding-top: 50px; padding-left: 20px; padding-bottom: 20px}

h2{color: #165e62}

nav {text-align: center;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #000000;
            padding: 20px 0;
            z-index: 1000;}

nav ul {list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;}

nav ul li {display: inline;
            margin: 0 15px;}

nav ul li a {color: white;
            text-decoration: none;
            font-weight: bold;}

nav ul li a:hover { text-decoration: underline;}


